.flex {
    display: flex;
}

.tarokka {
    align-content: center;
}

#radioButtons {
    padding: 10px;
    flex-direction: column;
}

#radioButtons label {
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    padding: 2px 8px 2px 4px;
}


.dropDown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
}

.dropDownItem {
    background-color: rgb(211, 170, 170);
    color: white;
    font-size: 16px;
    font-family: Tahoma;
    border-style: solid;
    border-width: 2px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: rosybrown;
    cursor: pointer;
    display: flex;
    align-items: center;
 }

 .cardImage {
     padding: 2px;
 }

 .cardName {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    padding-left: 5px;
 }

.dropDownItem:hover {
    background-color: rgb(189, 122, 122)
}

.dropDownButton {
    padding: 0px;
    background-color: rgb(197, 116, 116);
    border-style: solid;
    border-width: 2px;
    border-color: rosybrown;
    color: white;
    font-size: 16px;
    font-family: Tahoma;
    width: 150px;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropDownButton:hover {
    background-color: rgb(199, 90, 90);
}

.dropDownMenu {
    padding: 10px;
}

.hide {
    display: none;
}

.dropDownItem:hover {
    background-color: rgb(189, 122, 122)
}

.hide {
    display: none;
}

.deck {
    width: 210px;
    position: relative;
}

.card {
    position: absolute;
    width: 200px;
    height: 280px;  
}

