body {
    background-color: darkslategrey;
}

.flex {
    display: flex;
}

.flex.vertical {
    flex-direction: column;
}

/* .scene {
    width: 200px;
    height: 305px;
    perspective: 600px;
} */

.deck {
    display: flex;
    align-content: center;
    width: 330px;
    padding: 15px;
}

.column {
    width: 110px;
    height: 615px;
    position: relative;
}

.card {
    position: absolute;
    width: 100px;
    height: 153px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card.tarokka {
    height: 140px;
}

.display {
    width: 200px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}
/* .image {
    width: 100px;
    height: 153px;
    z-index: -1;
} */

.card.clicked {
    outline: 2px blue dotted;
    outline-offset: -2px;
    background-color: blue;
}

.card.clicked.tarokka {
    outline: 2px red dotted;
    outline-offset: -2px;
    background-color: red;
}

.scene .flipCard {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    width: 200px;
    height: 305px;
}

.front {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-image: url("PNG/red_back.png");
    background-size: cover;
}

.back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-color: black;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
}

.flipCard.flipped {
    transform: rotateY(180deg);
}

.reading {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 305px 305px 305px;
    column-gap: 10px;
    row-gap: 10px;
    width: 620px;
    padding: 15px;
    grid-template-areas: 
        "menu two ."
        "one five three"
        ". four .";
}

.selection {
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 0px;
    top: 3px;
    right: 1px;
    text-align: center;
    font-family: Tahoma;
    font-weight: bold;
}

.selection.tarokka {
    color: white;
    right: 4px;
    background-color: black;
    border-radius: 10px;
}

.fortune {
    font-family: 'MedievalSharp', cursive;
}


.container {
    background-color: khaki;
    padding: 15px;
    width: 700px;
    height: 400px;
}

#Tome {
    position: static;
    grid-area: one;
}

#Ravenkind {
    position: static;
    grid-area: two;
}

#Sunsword {
    position: static;
    grid-area: three;
}

#Enemy {
    position: static;
    grid-area: four;
}

#Strahd {
    position: static;
    grid-area: five;
}

#Menu {
    position: static;
    grid-area: menu;
}

.hide {
    display: none;
}