.tarokka {
    display: flex;
    align-content: center;
    width: 320px;
}

.hide {
    display: none;
}

.deck {
    width: 110px;
    height: 615px;
    position: relative;
}

.card {
    position: absolute;
    width: 100px;
    height: 140px;
}



